@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h2,
h3,
p,
h1 {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.blue {
  color: #00b4ff;
}

.green:hover {
  color: #97fe01;
}

.purple:hover {
  color: #c300ff;
}

.red:hover {
  color: #ff3535;
}

body {
  background: #0e0e0e;
  text-align: center;
}

.slide-show img {
  width: auto;
  height: 500px;
}

ul {
  list-style: none;
  align-items: center;
  display: flex;
}

ul li {
  color: white;
  padding: 20px 40px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.fixed {
  position: sticky;
  width: 100%;
  top: 0;
  background: #0e0e0e;
}

.logo {
  width: 80px;
}

.navbar_container {
  align-items: center;
  margin-left: 50px;
  display: flex;
  justify-content: space-around;
}

.container {
  max-width: 960px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.title h1 {
  font-family: "Poppins", sans-serif;
  margin-top: 100px;
  text-transform: uppercase;
  text-align: center;
}

.card_shop img {
  width: 240px;
  height: 240px;
}

.card_shop {
  margin-right: 32px;
  margin-top: 4rem;
  align-items: center;
  width: 18rem;
  height: 26rem;
  border-radius: 2rem;
  border: 3px solid white;
}

.card_shop h3 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 2em;

  display: block;
}

.card_shop p {
  font-weight: 400;
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif;
}

.btc {
  background: #ff8c00dc;
  padding: 10px;
  margin-right: 5px;
  border-radius: 15px;
}

.btc:hover {
  background: #ff8c00;
}

.eth {
  background: #c0c0c0d0;
  padding: 10px;
  border-radius: 15px;
}

.eth:hover {
  background: #c0c0c0;
}

.card_shop2 {
  padding: 40px;
  margin: 4rem auto;
  align-items: center;
  width: 960px;
  height: 500px;
  border-radius: 2rem;
  border: 3px solid white;
}

.card_shop2 img {
  float: left;
  width: 416px;
  height: 416px;
}

.card_shop2 h1 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
}

.card_shop2_text {
  text-transform: lowercase;
  padding-top: 1rem;
  font-family: "Poppins", sans-serif;
  line-height: 2.1rem;
  text-align: left;
}

.stars {
  font-size: 25px;
  padding-top: 30px;
  color: white;
  text-align: left;
}

.rgb {
  text-align: left;
  font-style: italic;
  color: red;
  font-size: 20px;
  animation: changeColor 5s infinite;
  font-family: "Poppins", sans-serif;
}

@-webkit-keyframes changeColor {
  0% {
    color: red;
  }
  25% {
    color: yellow;
  }
  50% {
    color: blue;
  }
  100% {
    color: green;
  }
}
