@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.blue:hover {
  color: #00b4ff;
}

.green:hover {
  color: #97fe01;
}

.purple:hover {
  color: #c300ff;
}

.red:hover {
  color: #ff3535;
}

body {
  background: #0e0e0e;
  text-align: center;
  cursor: url("../img/logos/mdcursor.png"), auto;
}

.slide-show img {
  width: auto;
  height: 500px;
}

ul {
  list-style: none;
  align-items: center;
  display: flex;
}

ul li {
  color: white;
  padding: 20px 40px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

#btn-mobile {
  display: none;
}

.logo-mobile {
  display: none;
}

.container-mobile {
  display: none;
}

.logo {
  width: 80px;
}

.home-mobile {
  display: none;
}

.fixed {
  position: sticky;
  width: 100%;
}

.navbar_container {
  align-items: center;
  margin-left: 50px;
  display: flex;
  justify-content: space-around;
}

.mySlides {
  display: none;
  width: 100%;
}

.slideshow img {
  width: auto;
  height: 500px;
}

.botao {
  background: #0e0e0e;
  color: white;
  border: none;
  border: 1px solid white;
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 150px;
  padding: 10px;
}

.botaodireira {
  left: auto;
  right: 150px;
}

.slideshow {
  /* z-index: -1; */
  position: relative;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.carrouselContainer {
  margin-top: 40px;
}

.carrouselContainer img {
  position: relative !important;
  margin: auto;
  left: 0 !important;
}

@media screen and (max-width: 600px) {
  body {
    overflow: hidden;
  }
  .fixed {
    z-index: 100;
  }

  #logo-mobile {
    display: none !important;
  }

  #left, #right {
    top: 250px !important;
    margin-left: 1vw !important;
    margin-right: 1vw !important;
  }

  #menu li:nth-child(1){
    border-top: 1px solid grey;
  }

  #menu li:last-child {
    border-bottom: 1px solid grey;
  }


  #nav ul {
    display: block;
    position: absolute;
    width: 70%;
    top: 0px;
    right: 0px;
    background-color: #101010;
    height: 0;
    transition: 0.6s;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
  }

  .container-mobile {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
  }

  #nav.active #menu {
    height: 100vh;
    visibility: visible;
    overflow-y: hidden;
  }

  .logo-mobile {
    display: flex;
    width: 40px;
    height: 40px;
    margin: 8px 16px;
  }

  .navbar_container {
    display: flex;
    margin: 0;
  }

  .carrouselContainer img {
    margin: 50px auto;
    left: 0 !important;
    max-width: 350px !important;
    max-height: 350px !important;
    object-fit: cover;
  }

  .home-mobile {
    display: flex;
  }

  #menu li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    margin: 50px 2.3rem;
  }

  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    border: none;
    background: none;
    cursor: pointer;
    color: #fff;
    gap: 0.5rem;
    z-index: 1100;
  }

  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }

  #hamburger::after,
  #hamburger::before {
    display: block;
    content: "";
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburger {
    border-top-color: transparent;
  }

  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  #nav button {
    visibility: visible;
  }

  #nav ul li::after {
    display: none;
  }
}
